body{
    font-family:sans-serif;
    background-color:#bbbbbb
}
div{
    color:#002222
}
a{
    font-size: 0.7em;
    colour:#008822
}
.rname{
    font-size: 2em;
    text-align: center;
    padding: 5px;
    margin-bottom: 3em;
    
}
.flashes{
    color: #ff0000;
    font-size: 1em;
    text-align:center;
    margin:auto
}
.items{
    margin-bottom: 1em;
    margin-left:10%;
    width: 80%
}
.itemname{
    font-size: 1.4em;
    margin-bottom: 0.5em
}
.itemdesc{
    font-size: 0.8em;
}
.itemp{
    text-align: right;
    margin-top: 0.5em;
}
