<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='/static/style.css'>
    </head>
    
    <body>
        <h1> Galleries </h1>
        <form method='post'>
            <input type='text' size='35' name='search' placeholder='Search'>
            <input type='submit' value='Search'>
        </form>
        
        {% for i in galleries %}
            
            <div>
                <div class='item_title'>{{i.name}}</div>
                <div>{{i.address}}</div>
                <div>{{i.times}}</div>
                <div>
                    <a href={{url_for('galleryArtists', gallery_id = i.id)}}>Artists</a>
                    <a href={{url_for('galleryInventory', gallery_id = i.id)}}>Inventory</a>
                </div>
                
                <div><a href='{{i.url}}'>website</a></div>
                <a href={{url_for('editGallery', gallery_id = i.id)}}>Edit</a>
                <a href={{url_for('deleteGallery', gallery_id = i.id)}}>Delete</a>
            </div><br>
            
        {% endfor %}
        
        <a href={{url_for('newGallery')}}>Add a new gallery</a>
        
    </body>
</html>